{{ define "connections" }}
<div>
    <h1>{{.Title}}</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Virtual Host</th>
                    <th>Name</th>
                    <th>User name</th>
                    <th>State</th>
                    <th>SSL/TLS</th>
                    <th>Protocol</th>
                    <th>Channels</th>
                    <th>Heartbeat</th>
                    <th>Connected at</th>
                </tr>
            </thead>
            <tbody id="connections-list">
                <!-- Connections will be populated here -->
            </tbody>
        </table>
    </div>
</div>
<script src="./js/connections.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
{{ end }}
