{{ define "exchanges" }}
<div>
    <h1>{{.Title}}</h1>
    <div class="container"> 
        <table>
            <thead>
                <tr>
                    <th style="display:none;">Vhost ID</th>
                    <th>Virtual Host</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="exchanges-list">
                <!-- Exchanges will be populated here -->
            </tbody>
        </table>
    </div>
    <div class="container">        
        <p class="section-title"><span class="triangle" id="triangle-add-exchange">▸</span> Add a new exchange</p>
        <div class="section-content hidden">
            <form id="add-exchange-form">
                <input type="text" id="exchange-name" placeholder="Exchange Name" required>
                <button type="submit">Add Exchange</button>
            </form>
        </div>
    </div>
    <div class="container" id="bindings-manager" style="display: none;">
        <p class="section-title"><span class="triangle" id="triangle-bindings">▸ </span>Bindings</p>
        <div class="section-content hidden">
            <table>
                <thead>
                    <tr>
                        <th>Routing Key</th>
                        <th>Queue</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="bindings-list">
                    <!-- Bindings will be populated here -->
                </tbody>
            </table>
            <form id="add-binding-form">
                <input type="hidden" id="selected-exchange">
                <input type="text" id="routing-key" placeholder="Routing Key" required>
                <input type="text" id="queue-name" placeholder="Queue Name" required>
                <button type="submit">Add Binding</button>
            </form>
        </div>
    </div>
    <div class="container" id="publish-message" style="display: none;">
        <p class="section-title"><span class="triangle" id="triangle-publish-message">▸ </span>Publish Message</p>
        <div class="section-content hidden">
            <form id="publish-message-form">
                <input type="hidden" id="selected-exchange-for-message">
                <input type="text" id="msg-routing-key" placeholder="Routing Key" required>
                <input type="text" id="payload" placeholder="Message" required>
                <button type="submit">Publish</button>
            </form>
        </div>
    </div>
</div>
<script src="./js/exchanges.js"></script>
{{ end }}
