<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="text-2xl">OtterMQ</div>
            <form>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </nav>
    </header>
    <nav class="bg-gray-700">
        <ul>
            <li><a href="/overview">Overview</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/exchanges">Exchanges</a></li>
            <li><a href="/queues">Queues</a></li>
        </ul>
    </nav>
    <main class="container">
        {{embed}}
    </main>
    <script src="./js/nav.js"></script>
    <script src="./js/toggleSection.js"></script>
</body>
</html>
