<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="text-2xl">OtterMQ</div>
            <div class="logout-container">
                <p>User: <span id="username">{{.Username}}</span></p>
                <a class="logout-button" href="/logout">Logout</a>
            </div>
        </nav>
    </header>
    <nav class="bg-gray-700">
        <ul>
            <li><a href="/overview">Overview</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/exchanges">Exchanges</a></li>
            <li><a href="/queues">Queues</a></li>
        </ul>
    </nav>
    <main class="container">
        {{embed}}
    </main>
    <script src="./js/nav.js"></script>
    <script src="./js/toggleSection.js"></script>
</body>
</html>
